.full-footer{
    background-color: #eef4ff;
    padding: 3%;
}

.follow-us>a{
    padding: 1.5%;
}

.payment-apps{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    gap: 10px;
}

.payment-apps>img{
    margin: 5px 15px;
    padding: 5px;
}   

@media (max-width: 992px){
    .payment-apps{
        display: none;
    }
    .pay{
        display: none;
    }
    .copyrights{
        padding: 5% auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}